version: "3"

services:
  database:
    image: postgres:9.6.15-alpine
    restart: always
    environment:
      POSTGRES_DB: agent_module_test
      POSTGRES_USER: brf
      POSTGRES_PASSWORD: brf
    volumes:
      - ./src/test/resources/init-agent-module.sql:/docker-entrypoint-initdb.d/1-init-schema.sql

  agent-api:
    build: .
    restart: always
    ports:
      - "8080:8080"
    environment:
      spring.datasource.url: jdbc:postgresql://database/agent_module_test?currentSchema=agent
      spring.datasource.username: brf
      spring.datasource.password: brf
      spring.liquibase.user: brf
      spring.liquibase.password: brf

# Start with: docker-compose up --build --force-recreate --no-deps
# Stop with: docker-compose down